recursive-include netdoc/api *
recursive-include netdoc/library *
recursive-include netdoc/reports *
recursive-include netdoc/scripts *
recursive-include netdoc/static *
recursive-include netdoc/templates *
recursive-include netdoc/templatetags *
